$primary-color: #E4003F;
$secondary-color: #0099AF;
$accent-color: #E4003F;

$base-dark: #3E3E3E;
$primary-dark: rgba( $base-dark, .87 );
$secondary-dark: rgba( $base-dark, .54 );
$third-dark: rgba( $base-dark, .38 );
$fourth-dark: rgba( $base-dark, .12 );

$base-light: #EBEBEB;
$primary-light: rgba( $base-light, .87 );
$secondary-light: rgba( $base-light, .54 );
$third-light: rgba( $base-light, .38 );
$fourth-light: rgba( $base-light, .12 );
$white: #FFF;
