/* # Site Header
---------------------------------------------------------------------------------------------------- */


/* ## Menu Toggle
--------------------------------------------- */

.menu-toggle,
.sub-menu-toggle {
	border-width: 0;
	background-color: $white;
	color: $base-dark;
	display: block;
	visibility: visible;
	float: right;

	@include breakpoint(sm) {
		display: none;
		visibility: hidden;
	}

	&:hover,
	&:focus {
		background-color: $fifth-dark;
		color: $base-dark;
	}
}

.menu-toggle {
	line-height: 20px;
	position: relative;
	z-index: 1000;
	top: 15px;
	width: auto;
}

.sub-menu-toggle {
	float: right;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

/* ## Responsive Menu Structure
--------------------------------------------- */

// should be wrapped in a .js {} ?
.site-header {
	background-color: $white;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: $site-border;

	@include breakpoint(sm){
		position: fixed; // sticky on desktops
	}

	.wrap {
		padding: 10px 5%;
	}

	nav.nav-primary  {
		display: none; // Gets updated by JS to display: block;
		clear: both; // Makes the hamburger open below nav
		
		// .nav-primary displays at breakpoint(sm)
		@include breakpoint(sm) {
			display: block;
			padding: 0;
			width: auto;
			clear: none;
			float: right;
		}

		a:hover,
		a:focus,
		.current-menu-item>a,
		.sub-menu .current-menu-item>a:hover,
		.sub-menu .current-menu-item>a:focus {
			text-decoration: none;
		}

		.genesis-nav-menu {
			@include font-size($font-size-s);
			font-weight: 600;
			line-height: 1;
			width: 100%;
			text-transform: uppercase;
			margin: 12px 0;

			li.menu-item {
				display: block;
				float: none;
				padding: 12px 0;
				position: relative;	// enables to absolute position submenu buttons
				text-align: left;

				@include breakpoint(sm){
					display: inline-block;
					margin: 0;
					padding: 0; // clears mobile block padding
					text-align: left;
				}

				&:hover {
					position: relative;

					@include breakpoint(sm){
						position: static;
						
						&> .sub-menu { // makes sub-menu visible by bringing it to the screen
							left: auto;
							opacity: 1;
						}
					}
				}

				a {
					border: none;
					color: $base-dark; // get rid of link styling
					text-decoration: none;

					@include breakpoint(sm) {
						display: block;						
						padding: 20px 20px; // desktop nav spacing and button-like look
					}
				}

				.sub-menu {
					clear: both; // appears below
					display: none;
					margin: 25px 0 0; // margin-top when mobile sub-menu clicked
					padding-left: 15px;	// sub-menu indentation
					position: static;
					width: auto; // stays into the box
					@include font-size($font-size-xs);
					word-wrap: break-word;

					@include breakpoint(sm){
						left: -9999px; 	// changes to "auto" on hover
						opacity: 0; 	// changes to 1 on hover
						position: absolute; // absolute positioning relative to li.menu-item
						transition: opacity .2s ease-in-out;
						width: 200px;
						z-index: 99;
						margin: 0; // brings margin back to 0 for desktop menu, otherwise impossible to click on submenu
						padding-top: 24px; // no overlap with main navbar
						margin-left: -20px; // indent to the left

						a {
							background-color: $white;
							border: 1px solid $third-light;
							border-top: 0;
							padding: 20px;
							width: 200px;
						}
					}
				}
			}
			
			@include breakpoint(sm){
				> .menu-item {
					&:last-of-type { // make last one on desktop appear like a button
						background-color: $primary-color;
						border-radius: 5px;
						> a {
							color: $white;
						}
					}
				}
			}
		}
	}
}

/* ## Title Area
--------------------------------------------- */

// in case no image
.title-area {
	float: left;
	padding: 10px 0;
	width: 80px;
}

// when image
.header-image {
	.title-area {
		float: left;
		max-width: 300px;
		padding: 0;
	}

	.site-title > a {
		background-position: center !important;
		background-size: contain !important;
		float: left;
		min-height: 80px;
		width: 100%;
	}

	.site-description,
	.site-title {
		display: block;
		text-indent: -9999px;
	}
}

/* ## Widget Area
--------------------------------------------- */

.site-header {
	.widget-area {
		float: right;
		text-align: right;
		padding: 10px 0 0 30px;
	}
}