/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
	padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
	padding: 0 20px 10px;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: $base-dark;
	color: $base-light;
	@include font-size($font-size-xs);
	clear: both;
	padding: 30px 0;

	.widget {
		padding-bottom: 10px;
	}

	.widget-title {
		color: $primary-color;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	a {
		color: $base-light;
		text-decoration: none;
	}

	img.footer-logo {
		width: 71px;
	}

	ul.menu > li.menu-item {
		margin-bottom: 0px;
		padding-bottom: 2px;

		&> a {
			text-transform: uppercase;
		}
	}

	.widget li li {
		margin: 0 0 0 -4px;

		&:before {
			content: "+";
			color: $primary-color;
			padding: 0 4px;
			font-weight: $font-weight-bold;
		}

		a:hover {
			color: $primary-color;
		}
	}
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 100%;
	text-align: center;

	@include breakpoint(sm) {
		width: 30%;
		text-align: left;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	margin-right: 5%;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;

	.simple-social-icons ul  {
		float: none !important;
		text-align: center !important;

		@include breakpoint(sm) {
			float: left;
			text-align: left;
		}

		li {
			float: none;
			display: inline;
	
			@include breakpoint(sm) {
				float: left;
				display: block;
			}
		}
	}
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $base-dark;
	border-top: 1px solid $primary-dark;
	color: $base-light;
	@include font-size($font-size-xs);
	line-height: 1;
	padding: 0 0 20px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}