/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: $base-dark;
	color: $base-light;
	@include font-size($font-size-xs);
	clear: both;
	padding: 30px 0;

	.widget-title {
		color: $primary-color;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	a {
		color: $base-light;
		text-decoration: none;
	}

	img.footer-logo {
		width: 71px;
	}

	ul.menu > li.menu-item > a {
		text-transform: uppercase;
	}

	.widget li li {
		margin: 0 0 0 -4px;

		&:before {
			content: "+";
			color: $primary-color;
			padding: 0 4px;
			font-weight: $font-weight-bold;
		}
	}
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 380px;
}

.footer-widgets-1 {
	margin-right: 70px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $base-dark;
	border-top: 1px solid $primary-dark;
	color: $base-light;
	@include font-size($font-size-xs);
	line-height: 1;
	padding: 0 0 20px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}