/* # Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner.full {
	max-width: none;
	padding: 0;
}


/* ## Hero Sections
--------------------------------------------- */
.hero-section {
	position: relative;
	padding: 22% 0 12%;
	background-position: center;
	background-size: cover;
	transition: all .1s ease;
	text-align: center;

	.wp-custom-header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0 auto;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.wrap {
		position: relative;

		h1 {
			color: white;
			max-width: 700px;
			margin: 0 auto;
		}
	}
}

.overlay {
	@include overlay;
}

/* ## Sections : Text Blocks
--------------------------------------------- */

.text-block {
	margin: 40px 0;
	text-align: center;

	p {
		max-width: 700px;
		margin: 0 auto;
	}
}

/* ## Sections : 3 Blurbs
--------------------------------------------- */

.three-blurbs {
	margin: 40px 0;

	.blurb {
		border: $site-border;
		border-radius: $site-radius;
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		p {
			padding: 0 10px 13px;
			margin: 0;
			border-bottom: $site-border;
		}

		a {
			color: $primary-color;
			text-decoration: none;
			padding: 14px;
			display: block;
			transition: background-color 1s ease;

			&:hover {
				color: $base-dark;
				background-color: $fifth-dark;
			}
		}
	}
}

.tile-shadow {
    position: relative;
	box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,0.1), 0rem 0.3rem 0.5rem -0.4rem rgba(0,0,0,0.2);
}	

/* ## Sections : Post Selection
--------------------------------------------- */

.post-selection {
	margin: 40px 0 15px;

	.post {
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

/* ## Sections : Two/Dual Blocks
--------------------------------------------- */

.two-blocks {
	background-color: $primary-dark;
	padding: 40px 0;
	position: relative;

	.cta-block-img {
		text-align: center;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.cta-block-content {
		position: absolute;
		top: 30px;
		margin: 0 auto;
	}
}

/* ## Sections : Feed
--------------------------------------------- */

.feed {
	h4, h5, h6 {
		a {
			color: $base-dark;
			text-decoration: none;
		}
	}

	&.feed-timeline {
		.wrap {
			max-width: 740px;
		}
	}
}

.timeline-item {
	position: relative;
	margin: 20px 0;
	border: $site-border;
	border-radius: $site-radius;

	img {
		float: left;
		margin-right: 20px;
	}

	.item-content {
		float: left;
		width: 54%;
	}

	h4 {
		padding: 0;
		margin: -4px 0 0;
		a {
			color: $primary-color;
		}
		&:after {
			content: "";
			width: 30px;
			margin: 2px 0 10px;
			display: block;
			border-top: $site-border;
		}
	}

	h6 {
		@include font-size($font-size-xs);
		text-transform: uppercase;
		padding: 5px 0 0;
		margin: 0;
		a {
			color: $secondary-dark;
		}
	}

	.item-date {
		position: absolute;
		top: 0;
		left: 0;
		@include font-size($font-size-xs);
		background-color: $primary-color;
		color: $white;
		padding: 10px;
		font-weight: $font-weight-superbold;
	}

	p {
		margin: 0 0 10px;
	}

	ul.tags {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			float: left;
			background: $fourth-dark;
			border-radius: $site-radius;
			display: inline-block;
			height: 26px;
			line-height: 24px;
			padding: 0 10px 0 24px;
			position: relative;
			margin: 0 10px 10px 0;
			transition: color 0.2s;

			a {
				color: $secondary-dark;
				@include font-size($font-size-xs);
				text-decoration: none;
				text-transform: uppercase;
				font-weight: $font-weight-bold;

				&:hover {
					color: $primary-color;
				}
			}

			&:before {
				content: '';
				background: $white;
				border-radius: 10px;
				box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
				height: 6px;
				left: 10px;
				position: absolute;
				width: 6px;
				top: 10px;
			}
		}
	}
}

/* ## Sections : Banners
--------------------------------------------- */

.video-cta-banner {
	padding: 40px 0;
	background-color: $third-light;
	text-align: center;

	h3 {
		margin: 10px 0 20px;
	}
}

.kpi-banner {
	padding: 40px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;

	.kpi-count {
		border-radius: $site-radius;
		min-width: 100px;
		padding: 0;
		margin: 20px auto;
		display: inline-block;
		font-weight: 600;
		font-size: 3.6rem;
		background-color: $secondary-color;
		color: $white;
		font-weight: 600;
	}

	.kpi-text {
		padding: 0 20%;
	}
}

.main-cta-banner {
	padding: 40px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
}

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $white;
	margin-bottom: 40px;
	padding: 70px 80px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: $base-dark;
	color: $white;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px solid $white;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: $white;
	color: $base-dark;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: $primary-color;
	color: $white;
}