/* # Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	margin-top: 100px;

	&.full {
		max-width: none;
		padding: 0;
	}
}

.tile-shadow {
    position: relative;
	box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,0.1), 0rem 0.3rem 0.5rem -0.4rem rgba(0,0,0,0.2);
}	

.blurb {
	border: $site-border;
	border-radius: $site-radius;
	text-align: center;

	img {
		width: 100%;
		height: 200px;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
		border-top-left-radius: $site-radius;
		border-top-right-radius: $site-radius;
	}

	p {
		padding: 6px 10px 13px;
		margin: 0;
		border-bottom: $site-border;
	}

	a.read-more {
		color: $primary-color;
		text-decoration: none;
		padding: 14px;
		display: block;
		transition: background-color 1s ease;

		&:hover {
			color: $base-dark;
			background-color: $fifth-dark;
		}
	}
}

/* ## Hero Sections
--------------------------------------------- */
.hero-section {
	position: relative;
	padding: 24% 0 6%;
	background-position: center;
	background-size: cover;
	transition: all .1s ease;
	text-align: center;

	.wp-custom-header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0 auto;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.wrap {
		position: relative;

		h1 {
			color: white;
			max-width: 700px;
			margin: 0 auto 20px;
		}
	}
}

.overlay {
	@include overlay;
}

/* ## Sections : Text Blocks
--------------------------------------------- */

.text-block {
	margin: 40px 0 20px;
	text-align: center;

	img {
		height: 100px;
		width: auto;
	}

	p {
		max-width: 700px;
		margin: 0 auto;
		text-align: justify;
	}
}


/* ## Sections : Quote Blocks
--------------------------------------------- */

.quote-block {
	margin: 40px 0;

	.wrap {
		max-width: 700px;
		color: $secondary-color;

		p {
			text-align: justify;
			margin: -9px 0 5px;
			position: relative;
			font-family: Georgia, serif;

			&:before {
				display: block;
				padding-left: 10px;
				content: "\201C";
				font-size: 100px;
				position: absolute;
				left: 99px;
				top: -49px;
				color: $secondary-color;
			}
		}

		span {
			font-style: italic;
		}
	}

	img {
		float: left;
		margin-right: 20px;
	}
}

/* ## Sections : 3 Blurbs
--------------------------------------------- */

.three-blurbs {
	margin: 20px 0 40px;
}

/* ## Sections : Post Selection
--------------------------------------------- */

.post-selection {
	margin: 40px 0 15px;

	.post {
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

/* ## Sections : Two/Dual Blocks
--------------------------------------------- */

.two-blocks {
	background-color: $primary-dark;
	margin: 40px 0 0;
	padding: 40px 0;
	position: relative;

	.cta-block-item {
		text-align: center;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		.cta-block-content {
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
			margin: 0 15%;

			h4 {
				text-transform: uppercase;
			}
		}
	}
}

/* ## Sections : List
--------------------------------------------- */

.list {
	margin: 40px 0;

	.wrap {
		max-width: 700px;

		.list-item {
			clear: both;
			margin: 0 0 20px;

			h4 {
				color: $primary-color;
				margin: 0;
			}

			p {
				margin: 0;
			}

			img {
				float: left;
				width: 100px;
				height: 100px;
			}

			&:not(:last-child):after {
				content: "";
				width: 60px;
				display: block;
				margin: 30px auto;
				border-top: $site-border;
			}
		}
	}
}



/* ## Sections : Feed
--------------------------------------------- */

.feed {
	margin: 0 0 40px;

	h4, h5, h6 {
		a {
			text-decoration: none;
		}
	}

	&.feed-timeline {
		.wrap {
			max-width: 740px;
		}
	}

	.feed-item {
		position: relative;

		h4 {
			padding: 0;
			margin: 0;
			a {
				color: $base-dark;
			}
		}	
	
		h5 {
			color: $base-dark;
		}
	
		h6 {
			position: absolute;
			top: 10px;
			left: -4px;

			a {
				color: $white;
				text-align: left;
				@include font-size($font-size-xs);
				text-transform: uppercase;
				display: block;
				float: left;
				clear: left;
				padding: 7px 10px;
				margin-bottom: 2px;
				opacity: .94;
				background-color: $secondary-color;
			}
		}
	}
}

.timeline-item {
	position: relative;
	margin: 20px 0;
	border: $site-border;
	border-radius: $site-radius;

	img {
		float: left;
		margin-right: 20px;
		border-top-left-radius: $site-radius;
		border-bottom-left-radius: $site-radius;
	}

	.item-content {
		float: left;
		width: 54%;
	}

	h4 {
		&:after {
			content: "";
			width: 30px;
			margin: 2px 0 10px;
			display: block;
			border-top: $site-border;
		}
	}

	.item-date {
		display: block;
		margin-bottom: -6px;
		@include font-size($font-size-xs);
		font-weight: $font-weight-superbold;
	}

	p {
		margin: 0 0 10px;
	}

	ul.tags {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 30px;

		li {
			float: left;
			background: $fourth-dark;
			border-radius: $site-radius;
			display: inline-block;
			height: 26px;
			line-height: 24px;
			padding: 0 10px 0 24px;
			position: relative;
			margin: 0 10px 10px 0;
			transition: color 0.2s;

			a {
				color: $secondary-dark;
				@include font-size($font-size-xs);
				text-decoration: none;
				text-transform: uppercase;
				font-weight: $font-weight-bold;

				&:hover {
					color: $primary-color;
				}
			}

			&:before {
				content: '';
				background: $white;
				border-radius: 10px;
				box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
				height: 6px;
				left: 10px;
				position: absolute;
				width: 6px;
				top: 10px;
			}
		}
	}
}

/* ## Sections : Banners
--------------------------------------------- */

.video-cta-banner {
	padding: 40px 0;
	background-color: $third-light;
	text-align: center;

	h3 {
		margin: 10px 0 20px;
	}
}

.kpi-banner {
	padding: 40px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;

	.kpi-count {
		border-radius: $site-radius;
		min-width: 100px;
		padding: 0;
		margin: 20px auto;
		display: inline-block;
		font-weight: 600;
		font-size: 3.6rem;
		background-color: $secondary-color;
		color: $white;
		font-weight: 600;
	}

	.kpi-text {
		padding: 0 20%;
	}
}

.main-cta-banner {
	padding: 40px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
}

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $white;
	margin-bottom: 40px;
	padding: 70px 80px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: $base-dark;
	color: $white;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px solid $white;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: $white;
	color: $base-dark;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: $primary-color;
	color: $white;
}