/* # Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner.full {
	max-width: none;
	padding: 0;
}


/* ## Hero Sections
--------------------------------------------- */
.hero-section {
	position: relative;
	// background-position: center;
	// background-size: cover;
	padding: 25vh 0;
	text-align: center;

	.wp-custom-header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0 auto;
		// height: 100%;
		// width: 100%;
		// object-fit: cover;
		// object-position: center;
		// overflow: hidden;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.wrap {
		position: relative;

		h1 {
			color: white;
		}
	}
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

/* ## Sections : Text Blocks
--------------------------------------------- */

.text-block {
	padding: 40px 0;
	text-align: center;

	p {
		max-width: 700px;
		margin: 0 auto;
	}
}

/* ## Sections : 3 Blurbs
--------------------------------------------- */

.three-blurbs {
	padding: 40px 0;

	.blurb {
		border: 1px solid $fourth-dark;
		border-radius: 4px;
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		p {
			padding: 0 10px;
		}
	}
}

.tile-shadow {
    position: relative;
	box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,0.10), 0rem 0.3rem 0.5rem -0.4rem rgba(0,0,0,0.2);
}	

/* ## Sections : Post Selection
--------------------------------------------- */

.post-selection {
	padding: 40px 0;

	.post {
		text-align: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

/* ## Sections : Two/Dual Blocks
--------------------------------------------- */

.two-blocks {
	background-color: $primary-dark;
	padding: 40px 0;
	position: relative;

	.cta-block-img {
		text-align: center;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.cta-block-content {
		position: absolute;
		top: 30px;
		margin: 0 auto;
	}
}

/* ## Sections : Post Selection
--------------------------------------------- */

.video-cta-banner {
	padding: 40px 0;
	background-color: $third-light;
	text-align: center;
}

/* ## Sections : Banners
--------------------------------------------- */

.kpi-banner {
	padding: 40px 0;
	text-align: center;

	.kpi-count {
		border-radius: 5px;
		padding: 10px 20px;
		margin: 10px auto;
		display: inline-block;
		font-weight: 600;
		font-size: 3.6rem;
		background-color: $primary-color;
		color: $primary-light;
		font-weight: 600;
	}
}

.main-cta-banner {
	padding: 40px 0;
	text-align: center;
}

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $white;
	margin-bottom: 40px;
	padding: 70px 80px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: $base-dark;
	color: $white;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px solid $white;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: $white;
	color: $base-dark;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: $primary-color;
	color: $white;
}